# Doing some interesting things with Toucan's autism data

As our Discord server's resident aspirant data scientist, I got curious about what I could do with the random data one of our users collected about our scores on the RAADS-R.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.request

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

#### step 1: turning our data into a dataframe
toucan had the data as a raw text file so i'm just gonna...make it more palatable for the computer.

In [2]:
# importing data
url = "https://raw.githubusercontent.com/pollyannafx/discord-autism-data/refs/heads/main/toucan-tism-data.txt"
with urllib.request.urlopen(url) as f: 
    tism_data = f.read().decode("utf-8").splitlines()

In [3]:
tism_data[0:5] # for debugging's sake

['toucan:141', 'marie:154', 'spike:31', 'Graywolf:76', 'Palepiney:91']

In [4]:
# resource: https://www.geeksforgeeks.org/split-elements-of-a-list-in-python/
tism_data_split = [item.split(":") for item in tism_data]
tism_data_split[0:5] # for debugging's sake

[['toucan', '141'],
 ['marie', '154'],
 ['spike', '31'],
 ['Graywolf', '76'],
 ['Palepiney', '91']]

In [5]:
# resource: https://www.geeksforgeeks.org/python-convert-a-list-to-dictionary/
# resource: https://www.w3schools.com/python/numpy/numpy_array_iterating.asp
# resource: https://www.geeksforgeeks.org/how-to-initialize-a-dictionary-in-python-using-for-loop/
tism_data_dictionary = {i[0]: i[1] for i in tism_data_split}
# tism_data_dictionary # <- was for troubleshooting

In [6]:
# resource: http://localhost:8888/lab/tree/personal_shit/Untitled.ipynb
tism_df = pd.DataFrame(tism_data_dictionary, index=[0])
tism_df = tism_df.melt(var_name = "User", value_name="RAADS_score")
tism_df.head()

        User RAADS_score
0     toucan         141
1      marie         154
2      spike          31
3   Graywolf          76
4  Palepiney          91

#### step 2: minimal cleaning 
not a lot of cleaning is necessary.

In [7]:
# resource: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html
# removing spaces so values can be numeric
tism_df["RAADS_score"] = tism_df["RAADS_score"].str.replace(" ", "")
tism_df["RAADS_score"] = pd.to_numeric(tism_df["RAADS_score"], errors="coerce")

# dropping 'average' row he had 
tism_df = tism_df.drop([66])
tism_df.tail()

         User  RAADS_score
61  dandelion         96.0
62      bambi        197.0
63       mina        194.0
64    Skoolie         45.0
65     Maryam        114.0